// mat-card-header{
//     // background-color: #673ab7;
//     // align-content: flex-start;
// }
// .example-form{
//     // padding-top: 50px;;
//     // justify-content: center;
//     vertical-align: middle;
    
// }
//  .tableDiv{
//     width: 150px;
//     height: 150px;
//     overflow: scroll;
//  }

mat-card-title{
    // padding: 4rem;
    width: 100%;
    text-align: center; 
    position: -webkit-sticky; /* Safari */
  position: sticky;
  background-color: #673ab7;
  border-color: #673ab7;
  color: white;
  padding-top: 4rem;
 padding-bottom: 1rem;
  margin: unset;
  top: 0;
}

.full-wid {
    text-align: center;
    
}
ion-button{
    width:  100%;
}
 
.example-full-width{
    width:100% !important;
  }
// .centerLogin {
//     // width: 500px;
//     vertical-align: middle;
//     margin: auto
//   }

table {
    width: 100%;
    height: 100%;
  }
  td{
    //   font-size: 1.5vmax
    font-size: x-small
  }
  th{
    // font-size: 1.5vmax
    font-size: x-small
}
th.mat-header-cell {
    text-align: center !important;
    // padding-left: 10px;
    // padding-right: 10px; 
}

.mat-cell { 
    text-align: center !important;
    // padding-left: 0.5rem;
    // padding-right: 0.5rem; 
}


.labelstyle{
    color: white;
    // margin:20px;
    // margin-left:0px;
    // width: 100%;
    background-color: #673ab7;
    padding:10px; 
    padding: 10px 100px 10px 100px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.uploadStyle{
    color: white;
    margin:20px; 
    // padding:10px;
}

.submitbutton{ 
    text-align: center;
    // margin-top: 20px;
    // padding:8px; 
    // margin-left: 10px;
    font-size: smaller;
}
    :host {
        // display: flex;
        // justify-content: center;
        // margin: 100px 0px;
    }
    
//     .mat-form-field {
//         // width: 100%;
//         min-width: 20px;
//     }
//     .title-card{
//         text-align: center;
//     }
//     mat-card-title,
//     mat-card-content {
//         display: flex;
//         // justify-content: center;
//     }
    
//     // .error {
//     //     padding: 16px;
//     //     width: 300px;
//     //     color: white;
//     //     background-color: red;
//     // }
    
//     .button {
//         display: flex;
//         justify-content: flex-end;
//     }
 