.labelstyle{
    color: white;
    margin:20px;
    margin-left:0px;
    background-color: #673ab7;
    padding:10px; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.search-button{
font-size: smaller;
padding:4px;
padding-top: 0px;
margin:0px;

}

// .searchPartStyle{
//     text-align: center;
// }

.submitbutton{
    padding-left: 1%;
}